<div id="skrollr-body">
    <%- partial("./partial/_banner-home") %>
    <%- partial("./partial/_main-free-course") %>
    <%- partial("./partial/_main-tutor") %>
    <%- partial("./partial/_main-knowledge") %>
    <%- partial("./partial/_main-ipad") %>
    <%- partial("./partial/_main-student") %>
    <%- partial("./partial/_main-service") %>
    <%- partial("./partial/_footer-menu") %>
    <%- partial("./partial/_baichuan-service-modal") %>
</div>
