<div id="student-carousel" class="carousel slide" data-ride="carousel">
    <!-- 轮播（Carousel）指标 -->
    <ol class="carousel-indicators">
        <li data-target="#student-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#student-carousel" data-slide-to="1"></li>
        <li data-target="#student-carousel" data-slide-to="2"></li>
    </ol>
    <!-- 轮播（Carousel）项目 -->
    <div class="carousel-inner">
        <div class="item active">
            <img  src=<%- locals.host %><%- locals.jinchengjie_png %> alt=""/>
            <div class="caption">
                <p class="caption-title">金程杰&nbsp;&nbsp;小学五年级</p>
                “理优学习一个学期，英语成绩从班级20名提升到班级第8名，对于英语语法的运用也有了很明显的提升。”<br />
            </div>
        </div>
        <div class="item">
            <img  src=<%- locals.host %><%- locals.xubeiyi_png %> alt=""/>
            <div class="caption">
                <p class="caption-title">徐蓓依&nbsp;&nbsp;小学六年级</p>
                “补习数学，英语。数学一学期提升10分，基础越来越扎实，还在不断进步中；英语提升15分，对英语口语自信心大大加强。”<br />
            </div>
        </div>
        <div class="item">
            <img  src=<%- locals.host %><%- locals.chenfangyi_png %> alt=""/>
            <div class="caption">
                <p class="caption-title">陈芳怡&nbsp;&nbsp;初中二年级</p>
                “理优学习半学期，数学稳定在班级前五，提分15-20分，从对数学没有信心到对数学非常感兴趣。”<br />
            </div>
        </div>
    </div>

    <!-- 轮播（Carousel）导航-->
    <a class="carousel-control left" href="#student-carousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#student-carousel" data-slide="next">&rsaquo;</a>

</div>
